.firsth2{
    background-color: pink;
}
.heading{
    color: red;
    background-color: blue;
}

.capitalPara{
    background-color: beige;
}

/* #h2background{
    background-color: pink;
} */

span{
    padding: 0px 5px; 
    border-top: 2px solid black;
    border-bottom: 4px solid gray;
}

p{
    border-style: ridge;
    border-color: lightgreen;
    border-width: 10px;
    margin: 5px;
}

h1{
    font-family: Roboto, sans-serif;
    text-align: center;
    color: blue;
}

body{
    font-family: 'Crimson Text', serif;
    color: red;
}